@model LancheListViewModel

@{
    ViewData["Title"] = "List";
}

<h1 class="text-center my-4">@Model.CategoriaAtual</h1>

<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanche" />
        }
    </div>
</div>
