@model int

@{
    ViewData["Title"] = "404 - Not Found";
}

<div class="alert alert-danger mt-3 mb-3 text-center">
    <h1 class="display-4">Erro 404 - Não Encontrado</h1>
    <hr />
    <p class="lead">
        O pedido com o ID <strong>@Model</strong> não foi encontrado.
    </p>
</div>

<div class="text-center mt-4">
    <a asp-action="Index" asp-controller="AdminPedidos" class="btn btn-outline-success btn-lg">
        Retornar para a lista de Pedidos
    </a>
</div>
