@{
    ViewData["Title"] = "Página Inicial";
}

<div class="container my-4">
    <div class="text-center">
        <img src="~/images/adminarea.jpg" alt="Área de Administração" class="img-fluid mb-3" />
    </div>
    <div class="jumbotron text-center">
        <h2 class="display-4">Bem-vindo à Área do Administrador</h2>
        <p class="lead">Aqui você pode gerenciar os recursos da aplicação.</p>
    </div>
    <div class="text-center mt-4">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">
            Voltar à Home Page
        </a>
    </div>
</div>