@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container text-center">
    <div class="alert">
        <img src="~/images/negado1.jpg" alt="Acesso negado à Área de Administração" class="img-fluid mt-3 mb-4 " />
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Voltar à Página Inicial</a>
</div>
