@model CarrinhoCompraViewModel;

@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index" class="d-flex align-items-center text-decoration-none">
        <img src="~/images/Full-Cart-icon.png" alt="Ícone do Carrinho" class="me-2" width="30" />
        <span class="badge bg-danger text-white">
            @Model.CarrinhoCompra.CarrinhoCompraItens.Count
        </span>
    </a>
}
